@page "/todo"

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<div class="col-md-2">
    <ul>
    @foreach (var todo in todos)
        {
            <li>
                <input type="checkbox" @bind="todo.IsDone" />
                <input @bind="todo.Title" class="form-control"  />
            </li>
        }
    </ul>
</div>

<div class="col-md-6">
    <div class="form-group">
                <input placeholder="Something todo" class="form-control" @bind="newTodo" />
        </div>
        <div class="form-group">
                <button @onclick="AddTodo" class="btn btn-success" >Add todo</button>
        </div>
</div>

@code {
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}